body {
    font-family: Arial, sans-serif;
    background-color: #8f8f8f;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

#quiz-container {
    background-color: #ffffff;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding: 20px;
    width: 800px;
    text-align: center;
}

button {
    margin-top: 20px;
    padding: 10px;
    font-size: 16px;
    cursor: pointer;
    background-color: #0275f8;
}

.option {
    display: block;
    margin: 5px 0;
    padding: 10px;
    background-color: #083a01;
    border-radius: 5px;
    cursor: pointer;
}

.option:hover {
    background-color: #02f8bb;
}

.correct {
    background-color: #110fac;
}

.incorrect {
    background-color: #c50505;
}
